<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo1.mapper.PatientMapper">

    <select id="findbyuid" parameterType="com.example.demo1.bean.Patient" resultType="com.example.demo1.bean.Patient">
		SELECT * FROM y_patient WHERE uid=#{uid} AND status=#{status}
	</select>
    <insert id="addpatient" parameterType="com.example.demo1.bean.Patient">
		INSERT INTO  y_patient(phone,status,name,sex,age,uid,creation_time)
		VALUE(#{phone},#{status},#{name},#{sex},#{age},#{uid},#{creation_time})
	</insert>
	<select id="findall" parameterType="com.example.demo1.bean.Patient" resultType="com.example.demo1.bean.Userimage">
		SELECT * FROM y_patient
		WHERE status=1
		<if test="name != null">
			AND `name` LIKE #{name}
		</if>
		<if test="uid != null">
			AND uid=#{uid}
		</if>
		<if test="phone != null">
			AND phone LIKE #{phone}
		</if>
		ORDER BY creation_time DESC
	</select>
	<select id="findinuid" parameterType="java.util.List" resultType="com.example.demo1.bean.Patient">
		SELECT y_patient.* ,IF(ISNULL(y_report.id),0,COUNT(*)) as number
		FROM  y_report
		right   JOIN y_patient on (y_report.uid=y_patient.uid)
		WHERE y_patient.uid IN
		<foreach item="item" index="index" collection="list"
				 open="(" separator="," close=")">
			#{item.cardnum}
		</foreach>
		AND y_patient.`status`=1
		GROUP BY y_report.uid
	</select>
</mapper>