<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo1.mapper.UserMapper">
    <select id="todaycountuser" resultType="int">
        SELECT COUNT(*) FROM y_user
		WHERE DATE(creation_time)=DATE(NOW()) AND `status`=1 AND type=1
    </select>
    <select id="countuser" resultType="int">
        SELECT COUNT(*) FROM y_user
		WHERE  `status`=1 AND type=1
    </select>
    <select id="finall" resultType="com.example.demo1.bean.User">
        SELECT * FROM y_user
        WHERE `status`=1 AND type=#{type}
        <if test="name != null">
            AND name LIKE #{name}
        </if>
        ORDER BY creation_time DESC
    </select>
    <select id="findbyid"  parameterType="com.example.demo1.bean.User" resultType="com.example.demo1.bean.User">
        SELECT * FROM y_user
        WHERE id=#{id} AND `status`=1 AND type=#{type}
    </select>
    <select id="finbyphone" parameterType="com.example.demo1.bean.User" resultType="com.example.demo1.bean.User">
        SELECT id FROM y_user
        WHERE phone=#{phone} AND `status`=1 AND type=#{type}
        <if test="id != 0">
            AND id!=#{id}
        </if>
    </select>
    <insert id="addDoctor" parameterType="com.example.demo1.bean.User" >
        INSERT INTO  y_user(phone,status,type,password,creation_time,name,classify)
		VALUE(#{phone},#{status},#{type},#{password},#{creation_time},#{name},#{classify})
    </insert>
    <insert id="addSpecia" parameterType="com.example.demo1.bean.User">
        INSERT INTO  y_user(phone,status,type,password,creation_time,name,classify)
		VALUE(#{phone},#{status},#{type},#{password},#{creation_time},#{name},#{classify})
    </insert>
    <insert id="addUser" parameterType="com.example.demo1.bean.User" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO  y_user(status,type,creation_time,openid,pid
          <if test="cardnum != null">
              ,cardnum
          </if>
          <if test="name != null">
              ,name
          </if>
        )
		VALUE(#{status},#{type},#{creation_time},#{openid},#{pid}
            <if test="cardnum != null">
                ,#{cardnum}
            </if>
            <if test="name != null">
                ,#{name}
            </if>
        )
    </insert>
    <update id="updateDoctor" parameterType="com.example.demo1.bean.User">
        update  y_user SET name=#{name},phone=#{phone},classify=#{classify}
        WHERE id=#{id}
    </update>
    <update id="updateSpecia" parameterType="com.example.demo1.bean.User">
        update  y_user SET name=#{name},phone=#{phone},classify=#{classify}
        WHERE id=#{id}
    </update>
    <update id="deleteDoctor" parameterType="int">
        update  y_user SET `status`=0 WHERE id=#{0}
    </update>
    <select id="findbyopenid"  parameterType="com.example.demo1.bean.User" resultType="com.example.demo1.bean.User">
        SELECT * FROM y_user
        where openid=#{openid} and type=#{type} and status=1 and pid=0
    </select>
    <select id="findbyuid" parameterType="java.lang.String" resultType="com.example.demo1.bean.User">
        SELECT * FROM y_user
        where cardnum=#{0} and type=1 and status=1
    </select>
    <update id="updateuser" parameterType="com.example.demo1.bean.User">
        update  y_user SET dept='机构1',phone=#{phone},cardnum=#{cardnum}
        WHERE id=#{id}
    </update>
    <select id="findbypid" parameterType="int" resultType="com.example.demo1.bean.User">
        SELECT * FROM y_user
        where type=1 and status=1 and pid=#{0}
    </select>
    <select id="findbynameandphone" parameterType="java.lang.String" resultType="com.example.demo1.bean.User">
        SELECT * FROM y_user
        WHERE `status`=1 AND type=2
        AND `name`=#{0}
        AND phone=#{1}
    </select>
</mapper>