<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo1.mapper.UserMapper">
    <select id="todaycountuser" resultType="int">
        SELECT COUNT(*) FROM y_user
		WHERE DATE(creation_time)=DATE(NOW()) AND `status`=1 AND type=1
    </select>
    <select id="countuser" resultType="int">
        SELECT COUNT(*) FROM y_user
		WHERE  `status`=1 AND type=1
    </select>
    <select id="finall" resultType="com.example.demo1.bean.User">
        SELECT * FROM y_user
        WHERE `status`=1 AND type=#{type}
        <if test="name != null">
            AND name LIKE #{name}
        </if>
        ORDER BY creation_time DESC
    </select>
    <select id="findbyid"  parameterType="com.example.demo1.bean.User" resultType="com.example.demo1.bean.User">
        SELECT * FROM y_user
        WHERE id=#{id} AND `status`=1 AND type=#{type}
    </select>
    <select id="finbyphone" parameterType="com.example.demo1.bean.User" resultType="com.example.demo1.bean.User">
        SELECT id FROM y_user
        WHERE phone=#{phone} AND `status`=1 AND type=#{type}
        <if test="id != 0">
            AND id!=#{id}
        </if>
    </select>
    <insert id="addDoctor" parameterType="com.example.demo1.bean.User" >
        INSERT INTO  y_user(phone,status,type,password,creation_time,name,classify)
		VALUE(#{phone},#{status},#{type},#{password},#{creation_time},#{name},#{classify})
    </insert>
    <insert id="addSpecia" parameterType="com.example.demo1.bean.User">
        INSERT INTO  y_user(phone,status,type,password,creation_time,name,classify)
		VALUE(#{phone},#{status},#{type},#{password},#{creation_time},#{name},#{classify})
    </insert>
    <update id="updateDoctor" parameterType="com.example.demo1.bean.User">
        update  y_user SET name=#{name},phone=#{phone},classify=#{classify}
        WHERE id=#{id}
    </update>
    <update id="updateSpecia" parameterType="com.example.demo1.bean.User">
        update  y_user SET name=#{name},phone=#{phone},classify=#{classify}
        WHERE id=#{id}
    </update>
    <update id="deleteDoctor" parameterType="int">
        update  y_user SET `status`=0 WHERE id=#{0}
    </update>
</mapper>