*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.layui-table, .layui-table-view{
    text-align: center;
    margin: 0 !important;
}
.clear{
    clear: both;
    display: block;
}
.Training{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 7px;
    top: 0;
    overflow: auto;
    left: 0;
    background-color: #f5f5fa;
}
.Training>div,.Training-top>div,.Training-top-2>div{
    float: left;
}
.Training-top{
    height: 54%;
    margin-bottom: 0.5%;
    width: 100%;

    /*background-color: #fff;*/
}
.Training-bottom{
    /*height: 45%;*/
    width: 100%;
    /*width: 1140px;*/
    background-color: #fff;
    /*overflow: auto;*/
}

#Training-top-1{
    width: 100%;
    height: 100%;
}
.Training-top-1{
    height: 100%;
    width: 29.5%;
    margin-right: 0.5%;
}
.Training-top-2{
    width: 50%;
    /*margin: 0 0.5%;*/
    height: 100%;
}
.Training-top-3{
    width: 40%;
    height: 100%;
    overflow: auto;
}
.top-2-left{
    width: 53%;
    height: 100%;
    overflow: auto;
    margin-right:1%;
}
.top-2-right{
    overflow: auto;
    height: 100%;
    width: 46%;
}

.bg-green{
    color: green;
}
.Training-top-4{
    width: 25%;
    height: 100%;
}
.layui-textarea{
    min-height: auto !important;
    padding: 0 !important;
}
.section-two-div{
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    margin-top: 7px;
    text-align: center;
    float: left;
    position: relative;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    height: 20%;
    margin-left: 2%;
    font-size: 14px;
    width: 30%;
    padding: 1% 0;
}
.section-two-div img{
    width: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    margin: auto;
    height: 40px;
}

.section-two-div div:nth-last-child(2)
{
    position: absolute;
    transition: all linear 0.1s;
    width: 100%;
    height: 100%;
    left: 0;
}
.section-two-div div:nth-last-child(1)
{
    top: 18px;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all linear 0.1s;
    color: #000;
    left: -100%;
}
.layui-table td, .layui-table th{
    padding: 5px 15px !important;
}

